{% load static %}
<div>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="{% url 'lukisan:index' %}">
            <img style="height: 50px;" src="/static/images/logo.png" %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-right: 30px;">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" style="color:black;" href="{% url 'lukisan:login_page' %}">Login</a>
                </li>

            </ul>
        </div>
    </nav>
</div>