{% load static %}
<div>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="{% url 'lukisan:index' %}">
            <img style="height: 50px;" src="/static/images/logo.png" %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-right: 30px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:black;" href="{% url 'lukisan:index' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PENGGUNA</a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'lukisan:penyewa' %}">Penyewa</a>
                        <a class="dropdown-item" href="{% url 'lukisan:pemilik' %}">Pemilik</a>
                        <a class="dropdown-item" href="{% url 'lukisan:staf' %}">Staf</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color:black;" href="{% url 'lukisan:page_lukisan' %}">LUKISAN</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:black;" href="{% url 'lukisan:index' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TRANSAKSI</a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'lukisan:sewa' %}">Sewa</a>
                        <a class="dropdown-item" href="{% url 'lukisan:fee' %}">Fee</a>
                        <a class="dropdown-item" href="{% url 'lukisan:mitra' %}">Mitra</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color:black;" href="{% url 'lukisan:index' %}">Logout</a>
                </li>

            </ul>
        </div>
    </nav>
</div>