{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>silukisan.com</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>
<body>
	<div class="container-fluid header">
		{%include "base_index.html"%}
	</div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
    
        
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/images/img_1.jpeg" alt="First slide">
            </div>
        
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/images/img_2.jpeg" alt="Second slide">
            </div>
      
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/images/img_3.jpeg" alt="Third slide">
            </div>
        </div>
    
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
    
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container text-center text-welcome" style="margin-top: 50px;">
        <h1>SELAMAT DATANG DI</h1>

        <h1>SILUKISAN.com</h1>

        <p>"Kami merupakan perusahaan jasa penyewa lukisan dengan kualitas terbaik"</p>
    </div>

    <footer class="container-fluid footer">
    </footer>

</body>
</html>