{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<style>
		.form-login {
			margin-top: 8%;
			width: 28%;
		}

		.judul {
			margin-top: 10%;
		}

	</style>

	<h1 class="judul text-center">Selamat Datang Di Silukisan.com</h1>

	<div class="container-fluid form-login">
		{% block body %}
			<div class="card shadow-lg">
				<h5 class="card-header">Login</h5>
				<div class="card-body">			
					{% if message %}
						<div class="alert alert-danger" role="alert">
							{{message}}
						</div>
					{% endif %}

					<form action="" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label>Nomor Staf</label>
							<input type="text" class="form-control" name="login_nostaf" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" name="login_email" required>
						</div>
						<div class="form-group">
							<a class="btn btn-success" href="{% url 'lukisan:penyewa' %}">Login</a>
						</div>
						<small class="form-text">Belum punya akun? <a href="">Registrasi</a></small>
					</form>	
				</div>
			</div>
		{% endblock %}
	</div>


</body>
</html>