{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Data Mitra</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container-fluid header">
		{%include "base.html"%}
	</div>
    <br>
    <br>


    <!-- {% for row in transaksi %}
    {% for item in row %}
    {{item}}
    {% endfor %}
    br>
    3{% endfor %} -->

    <div class="text-center">
        <h3>MITRA BANK</h3>
    </div>

    <div class="table-responsive" style="width:90%; margin:0 auto;">
        <table class="table mt-4">
            <thead class="text-dark">
                <tr>
                    <th>Kode Bank</th>
                    <th>Nama Bank</th>
                </tr>
            </thead>

            <tbody class="text-muted">
                {% for row in mitra %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</body>

</html>