{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Data Penyewa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid header">
        {%include "base.html"%}
    </div>
    <br>
    <br>

    <div class="text-center">
        <h3>PENYEWA LUKISAN</h3>
    </div>

    <div class="table-responsive" style="width:90%; margin:0 auto;">
        <table class="table mt-4">
            <thead class="text-dark">
                <tr>
                    <th>Id Pelanggan</th>
                    <th>Nama</th>
                    <th>No HP</th>
                    <th>Tanggal Lahir</th>
                    <th>No KTP</th>
                    <th>Email</th>
                    <th>Alamat</th>
                    <th>Pekerjaan</th>
                    <th>Kategori</th>
                </tr>
            </thead>

            <tbody class="text-muted">
                {% for row in pengguna %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
                    <td>{{ row.4 }}</td>
                    <td>{{ row.5 }}</td>
                    <td>{{ row.6 }}</td>
                    <td>{{ row.7 }}</td>
                    <td>{{ row.8 }}</td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</body>

</html>